.clean_button_PQ{
  position: relative;
  top: 6.85em;
  left: 52.5rem;
  padding: 0.5em;
  width: 5%;
}

.copy_button_PQ{
  position: relative;
  top: 6.85em;
  left: 53.5rem;
  padding: 0.5em;
  width: 10%;
}