.element{
  background: #bd0101;
  margin: 5px;
  padding: 5px;
}

.element_exec{
  background: rgb(163, 160, 0);
  margin: 5px;
  padding: 5px;
}

.element_idle{
  background: rgb(1, 66, 206);
  margin: 5px;
  padding: 5px;
}

.element_finished{
  background: rgb(18, 206, 1);
  margin: 5px;
  padding: 5px;
}