.first-in-first {
    position: relative;
    line-height: 160%;
    font-weight: 600;
}
.first-in-first-out-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.image-1-icon {
    position: relative;
    width: 137px;
    height: 138px;
    object-fit: cover;
}
.frame-icon {
    position: relative;
    width: 29px;
    height: 28px;
    overflow: hidden;
    flex-shrink: 0;
}
.simular {
    position: relative;
    line-height: 125%;
    font-weight: 600;
    text-decoration: none;
    color: #ffffff;
}

.frame-group,
.frame-parent {
    display: flex;
    align-items: center;
}
.frame-group {
    display: flex;
    align-items: center;
    border-radius: var(--br-5xs);
    background-color: var(--tailwind-green-600);
    width: 236px;
    height: 52px;
    flex-direction: row;
    justify-content: center;
    gap: var(--gap-xs);
    text-align: left;
    font-size: var(--font-size-base);
    transition: background-color 0.2s, transform 0.2s; /* Add a transition effect */
}

.frame-group-sjf {
    display: flex;
    margin-top: 12px;
    align-items: center;
    border-radius: var(--br-5xs);
    background-color: var(--tailwind-green-600);
    width: 236px;
    height: 52px;
    flex-direction: row;
    justify-content: center;
    gap: var(--gap-xs);
    text-align: left;
    font-size: var(--font-size-base);
    transition: background-color 0.2s, transform 0.2s; /* Add a transition effect */
}

.frame-group-sjf:hover {
    background-color: var(--tailwind-green-600); /* Change the background color on hover */
    transform: scale(1.05); /* Grow on hover */
}

.frame-group:hover {
    background-color: var(--tailwind-green-600); /* Change the background color on hover */
    transform: scale(1.05); /* Grow on hover */
}
.frame-parent {
    position: absolute;
    top: 120px;
    left: 88px;
    border-radius: var(--br-base);
    background-color: var(--color-darkslategray);
    box-shadow: 3px 4px 26px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-10xl) var(--padding-29xl);
    gap: var(--gap-13xl);
}
.tickets-1-icon {
    position: relative;
    width: 136px;
    height: 137px;
    object-fit: cover;
}
.frame-container {
    position: absolute;
    top: 120px;
    left: 529px;
    border-radius: var(--br-base);
    background-color: var(--color-darkslategray);
    box-shadow: 3px 4px 26px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-10xl) var(--padding-29xl);
    gap: var(--gap-13xl);
}
.image-2-icon {
    position: relative;
    margin-top: 4px;
    width: 141px;
    height: 118px;
    object-fit: cover;
}
.frame-parent3,
.frame-parent5 {
    position: absolute;
    border-radius: var(--br-base);
    background-color: var(--color-darkslategray);
    box-shadow: 3px 4px 26px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-10xl) var(--padding-29xl);
    gap: var(--gap-13xl);
}
.frame-parent3 {
    top: 120px;
    left: 970px;
    height: 347px;
    box-sizing: border-box;
}
.frame-parent5 {
    top: 520px;
    left: 334px;
}
.fair-share-1-icon,
.priority-1-icon {
    position: relative;
    width: 136px;
    height: 131px;
    object-fit: cover;
}
.fair-share-1-icon {
    width: 134px;
    height: 134px;
}
.frame-parent9 {
    position: absolute;
    top: 520px;
    left: 763px;
    border-radius: var(--br-base);
    background-color: var(--color-darkslategray);
    box-shadow: 3px 4px 26px rgba(0, 0, 0, 0.25);
    width: 332px;
    height: 347px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-10xl) var(--padding-29xl);
    box-sizing: border-box;
    gap: var(--gap-13xl);
}
.home-child {
    position: absolute;
    top: 63px;
    left: 533px;
}
.title {
    position: absolute;
    top: 20px;
    left: 225px;
    font-size: 48px;
    line-height: 160%;
    font-weight: 600;
}
.home {
    position: relative;
    background-color: #292738;
    width: 100%;
    height: 1024px;
    overflow: hidden;
    text-align: center;
    font-size: var(--font-size-5xl);
    color: var(--tailwind-white);
    font-family: var(--font-inter);
}